*.log
.classpath
.settings
.project
target/
target-eclipse/
out/
web-app/WEB-INF/classes
\"/
/{}
/plugin.xml
/Synchro-gui-grails-grailsPlugins.iml
/Synchro-gui-grails.iml
/grails-grails-gui-*.zip
/web-app/css/images/Thumbs.db
grails-app/conf/SeleniumConfig.groovy
*.iml
.idea/**
grails-grails*zip
.gradle
